<h1><%= @event.name %></h1>
<% if @registration.errors.any? %>
  <ul>
    <% @registration.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for [@event, @registration], :url => url_for(:controller => 'event_registrations', :action => 'update') do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>
